@use "../../../../scss/colors" as colors;

.form-agreements {
  position: relative;
  border-top: 1px solid colors.$light-grey;
  padding-top: 8px;
}

.form-agreements--error {
  span {
    color: colors.$error;
  }
}

.form-agreements--hide {
  border-color: transparent;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: colors.$background-base;
    z-index: 10;
  }
}
