@use "../../../../scss/colors" as colors;
@use "../../../../scss/text" as text;
@use "../../../../scss/durations" as durations;

.like-count {
  @include text.inter-sm;
  color: colors.$text;
  height: 20px;
  overflow: hidden;
  transform: translateY(.5px);
}

.like-count__number--liked {
  transform: translateY(-21.5px);
}
